package-lock.json linguist-vendored=true
babel.config.js linguist-vendored=true
metro.config.js linguist-vendored=true
tailwind.config.js linguist-vendored=true
eslint.config.js linguist-vendored=true